/*header section*/
header {
  display: flex;
  border-bottom: 1px solid black;
  position: fixed;
  font-family: Verdana;
  font-size: 14;
  font-weight: bold;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 1;
  background-color: white;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  padding-right: 20px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  display: flex;
  align-items: flex-end;
  padding-right: 40px;
}

 nav span {
   display: inline-block;
   padding: 20px 10px;
 }

 nav span a {
   color: black;
 }

 div {
   border: 1px solid;
 }

 .content {
   display: flex;
   padding-top: 116px;
   width: 1232px;
 }

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

 .column.large {
   width: 630px;
 }

 .column.medium {
   width: 300px;
 }

 .column.small {
   width: 240px;
 }

.story, .lead-story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/*images*/
 .main-img {
   display: flex;
   background-image: url('../../resources/images/img-story-main.png');
   font-size: 40px;
   font-weight: bold;
   font-family: Georgia;
   color: white;
   height: 300px;
 }

.image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

 .backwards {
   background-image: url('../../resources/images/img-story-2.png');
 }

.camera {
  background-image: url('../../resources/images/img-story-3.png');
}

.cat-ceo {
  background-image: url('../../resources/images/img-story-1.png')
}
